<div class="container-fluid">
  <div class="row my-4 mx-auto border border-start-0 border-end-0 border-top-0" *ngFor = "let tem of template">
    <div class="col-3 my-3  mx-auto">
      <img src="../../assets/Feb_AllLaptops_2x._SY232_CB639625488_.jpg" alt="">
    </div>
    <p class="col-4 mx-auto my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Quisquam maxime optio, voluptatem error saepe facere laboriosam suscipit
      repellat perspiciatis totam alias,
      ea autem quo, natus unde. Dolorum vitae incidunt delectus.
    </p>
  </div>
</div>
